<%- include("header") -%>


    <div class="box" id="heading">
        <h1>
            <%= listType%>
        </h1>
    </div>
    <div class="box">
        <h3>To Do List</h3>
        <%for (let i=0;i<list.length;i++){%>
            <form action="/delete" method="post">
                <div class="item">
                    <!-- onChange="this.form.submit()將form submit連結到/delete route -->
                    <input type="checkbox" name="checkbox" value="<%= list[i]._id%>" onChange="this.form.submit()">
                    <p>
                        <%= list[i].name %>
                    </p>
                </div>

                <!-- 使用 hidden 的input tag, 將該頁面的routename 回傳, 需要 </input> 來close-->
                <input type="hidden" name="listType" value="<%=listType%>"></input>
            </form>

            <%}%>
                <form action="/" method="post">
                    <input type="text" name="newItem" placeholder="New Item" autocomplete="off" />
                    <button type="submit" name="listType" value="<%=listType%>">+</button>
                </form>
                <!-- 因為form action指向"/" rout,為了使在/works sumbit 後能導向/works這個rout,在button 加上 value,使submit將該值傳回server -->

    </div>

    <!-- EJS engine將app.js 運算的變數傳到ejs檔案中使用
    使用 <%= %> 來call
     在html tag外的每一行添加<% %> 可執行control flow JS code 
     盡量使code的邏輯在server執行而非頁面上 -->


    <%- include("footer") -%>